header{
	background-color: #f7fdfe;
	width: 1400px;
}
.header{
	width: 960px;
	margin: auto;
	background-color: #f7fdfe;
	padding: 10px;
	font-family: 'museo700';

}
body a{
	text-decoration: none;
}
header a{
color: #82868f;
}

li{
display: inline-block;
text-decoration: none;
margin-right: 37px;
}
.menu{
	float: right;
	padding-top: 10px;
}
.label{
	margin-right: 37px;
	text-decoration: none;
}
 .menu a{
	margin-right: 10px;
	font-size: 14px;
}
.LOGO {
	font-size: 30px;
}
.Sign{
	background-color: #0ebfdd;
	border: 1px;
	padding: 5px;
	border-radius: 30px;

}
  img{
  width: 1400px;
  margin: auto;
}
.main{
  margin: auto;	
  position: relative;
}
.stars  {
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 70%;
  width: 800px;
  left:50%;
  transform: translate(-50%);
  color: #f7fdfe;
}

.ourmission{
position: relative;
text-align: center;
top: 0;
}
.bg{
	position: relative;
	width: 800px;
	height: 250px;
	text-align: center;
	margin: auto;
	top: 70%;
	transform: translateY(30%);
}
.bg h2{
	color: #0ebfdd;
	font-size: 25px;
}
.bg p{
	color: #45494d;
	font-size: 20px;
}
.team{
	width: 1400px;
	height: 600px;
	background-color: #0ebfdd;
	position: relative;
	margin: auto;
	text-align: center;
	font-size: 25px;
}
.team h2{
	color: #ffffff;
	transform: translateY(35px); 
}
.face{
  display: inline-block;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  margin: 25px;
  transform: translateY(30%);
  text-align: center;
}
.face img{
  width: 150px;
  height: 150px;
  display: inline-block;
  border-radius: 50%;
}
.name{
	color: #f7fdfe;
	text-align: center;
}
.work{
	width: 180px;
	border: 1px solid white;
	padding: 5px;
	border-radius: 30px;
	margin: auto;
	transform: translateY(250%);
	
}
.work a{
	color: #f7fdfe;
	font-size: 16px;

}
iframe{
	width: 1400px;
}
footer{
	background-color: #45494d;
	width: 1400px;
	margin: 0 auto;
  text-align: center;
}
footer a{
	color: #d7dee4;
	font-size: 14px;
	margin-left: 10px;
}
footer nav a:hover{
	border-bottom: 1px solid #d7dee4;
}
footer p{
	color: #d7dee4;
	text-align: right;
	margin-left: 10px;
	display: inline-block;
}
.social{
	width:  140px;
	margin-left: 5px;
}
.social a{
	display: inline-block;
  width: 30px;
  float: right;
}

















