.header{
	width: 960px;
	margin: auto;
	background-color: #f7fdfe;
	padding: 10px;
	font-family: 'museo700';

}
body a{
	text-decoration: none;
}
header a{
color: #82868f;
}

li{
display: inline-block;
text-decoration: none;
margin-right: 37px;
}
.menu{
	float: right;
	padding-top: 10px;

}
.label{
	margin-right: 37px;
	text-decoration: none;
}
 .menu a{
	margin-right: 10px;
	font-size: 14px;
}
.LOGO {
	font-size: 30px;
}
.Sign{
	background-color: #0ebfdd;
	border: 1px;
	padding: 5px;
	border-radius: 30px;
}
  img{
  width: 1400px;
  margin: auto;
}
.main{
  margin: auto;	
  position: relative;
}
.stars  {
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 70%;
  width: 800px;
  left:50%;
  transform: translate(-50%);
  background-color: #5b676d;
}

.ourmission{
position: relative;
text-align: center;
top: 0;
}
























