.header{
	width: 960px;
	margin: auto;
	background-color: #f7fdfe;
	padding: 10px;
	font-family: 'museo700';

}
body a{
	text-decoration: none;
}
header a{
color: #82868f;

}

li{
display: inline-block;
text-decoration: none;
margin-right: 37px;
}
.menu{
	float: right;
	padding-top: 10px;

}
.label{
	margin-right: 37px;
	text-decoration: none;
}
 .menu a{
	margin-right: 10px;
	font-size: 14px;
}
.LOGO {
	font-size: 30px;
}
.Sign{
	background-color: #0ebfdd;
	border: 1px;
	padding: 5px;
	border-radius: 30px;
}
  img{
  width: 1400px;
  margin: auto;
}
.main{
  margin: auto;	
  position: relative;
}
.stars  {
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 70%;
  width: 800px;
  left:50%;
  transform: translate(-50%);
  color: #f7fdfe;
}

.ourmission{
position: relative;
text-align: center;
top: 0;
}
.bg{
	position: relative;
	width: 800px;
	height: 250px;
	text-align: center;
	margin: auto;
	top: 70%;
	transform: translateY(30%);
}
.bg h2{
	color: #0ebfdd;
	font-size: 25px;
}
.bg p{
	color: #45494d;
	font-size: 20px;
}
.team{
	width: 1400px;
	height: 600px;
	background-color: #0ebfdd;
	position: relative;
	margin: auto;
	text-align: center;
	font-size: 25px;
}
.team h2{
	color: #ffffff;
	transform: translateY(35px); 
}
.face{
  display: inline-block;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin: 25px;
  transform: translateY(30%);
  text-align: center;
}
.face img{
  width: 150px;
  height: 150px;
  display: inline-block;
}
.name{
	text-align: center;
	width: 10px;
}




















